In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = 'AgeDataset-V1.csv'

In [3]:
df = pd.read_csv(filename)
df

,Id,Name,Short description,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
0,Q23,George Washington,1st president of the United States (1732–1799),Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799.0,natural causes,67.0
1,Q42,Douglas Adams,English writer and humorist,Male,United Kingdom,Artist,1952,2001.0,natural causes,49.0
2,Q91,Abraham Lincoln,16th president of the United States (1809-1865),Male,United States of America,Politician,1809,1865.0,homicide,56.0
3,Q254,Wolfgang Amadeus Mozart,Austrian composer of the Classical period,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791.0,NaN,35.0
4,Q255,Ludwig van Beethoven,German classical and romantic composer,Male,Holy Roman Empire; Austrian Empire,Artist,1770,1827.0,NaN,57.0
...,...,...,...,...,...,...,...,...,...,...
1223004,Q77247326,Marie-Fortunée Besson,Frans model (1907-1996),NaN,France,Tailor; model,1907,1996.0,NaN,89.0
1223005,Q77249504,Ron Thorsen,xugador de baloncestu canadianu (1948–2004),NaN,Canada; United States of America,Athlete,1948,2004.0,NaN,56.0
1223006,Q77249818,Diether Todenhagen,German navy officer and world war II U-boat co...,NaN,Germany,Military personnel,1920,1944.0,NaN,24.0
1223007,Q77253909,Reginald Oswald Pearson,"English artist, working in stained glass, prin...",Male,United Kingdom,Artist,1887,1915.0,NaN,28.0
1223008,Q77254864,Horst Lerche,German painter,Male,Germany,Artist,1938,2017.0,NaN,79.0

In [4]:
df.shape

(1223009, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1223009 entries, 0 to 1223008
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Id                 1223009 non-null  object
 1   Name               1223009 non-null  object
 2   Short description  1155109 non-null  object
 3   Gender             1089363 non-null  object
 4   Country            887500 non-null   object
 5   Occupation         1016095 non-null  object
 6   Birth year         1223009 non-null  int64
 7   Death year         1223008 non-null  float64
 8   Manner of death    53603 non-null    object
 9   Age of death       1223008 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 93.3+ MB

In [6]:
df_clean = df.copy()

In [7]:
for col in df.columns:
    count = np.sum(df[col].isna())
    print(f'{col}: {count}')

Id: 0
Name: 0
Short description: 67900
Gender: 133646
Country: 335509
Occupation: 206914
Birth year: 0
Death year: 1
Manner of death: 1169406
Age of death: 1

In [8]:
df_clean.drop(index=df_clean[df['Short description'].isna()].index, inplace=True)
df_clean.shape

(1155109, 10)

In [9]:
df_clean.drop(index=df_clean[df['Gender'].isna()].index, inplace=True)
df_clean.shape

/tmp/ipykernel_145692/4266498844.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean.drop(index=df_clean[df['Gender'].isna()].index, inplace=True)

(1040835, 10)

In [10]:
df_clean.drop(index=df_clean[df['Country'].isna()].index, inplace=True)
df_clean.shape

/tmp/ipykernel_145692/1364091423.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean.drop(index=df_clean[df['Country'].isna()].index, inplace=True)

(780706, 10)

In [11]:
df_clean.drop(index=df_clean[df['Occupation'].isna()].index, inplace=True)
df_clean.shape

/tmp/ipykernel_145692/1742361876.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean.drop(index=df_clean[df['Occupation'].isna()].index, inplace=True)

(732961, 10)

In [12]:
# df_clean.drop(index=361, inplace=True)
# df_clean.loc[df_clean['Death year'].isna()]

In [13]:
df_clean.drop(columns=['Id', 'Manner of death'], inplace=True)

In [14]:
df_clean

,Name,Short description,Gender,Country,Occupation,Birth year,Death year,Age of death
0,George Washington,1st president of the United States (1732–1799),Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799.0,67.0
1,Douglas Adams,English writer and humorist,Male,United Kingdom,Artist,1952,2001.0,49.0
2,Abraham Lincoln,16th president of the United States (1809-1865),Male,United States of America,Politician,1809,1865.0,56.0
3,Wolfgang Amadeus Mozart,Austrian composer of the Classical period,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791.0,35.0
4,Ludwig van Beethoven,German classical and romantic composer,Male,Holy Roman Empire; Austrian Empire,Artist,1770,1827.0,57.0
...,...,...,...,...,...,...,...,...
1222992,Wim de Vreng,Dutch swimmer,Male,Kingdom of the Netherlands,Athlete,1930,1980.0,50.0
1222993,James Smillie,goudsmid uit Schotland (1784-1841),Male,Scotland,Goldsmith,1784,1841.0,57.0
1223000,Gustav Siber,entrepreneur from Switzerland,Male,Switzerland,Entrepreneur,1857,1924.0,67.0
1223007,Reginald Oswald Pearson,"English artist, working in stained glass, prin...",Male,United Kingdom,Artist,1887,1915.0,28.0
1223008,Horst Lerche,German painter,Male,Germany,Artist,1938,2017.0,79.0

In [15]:
df_clean.to_csv('AgeDatasetClean.csv', sep='|', index=False)